*{
    /* border: 1px solid lightgray; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.longLineOfImg{
    position: relative;
    width: 2500px;
}

.longLineOfImg li {
    list-style: none;
    display: inline-block;
}


.windowPanel{
    width: 400px;
    height:250px;
    position: relative;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 5px;
}

#side-left{
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    top: 0;
    left: 0;
    width:25px;
    z-index: 1;
    line-height: 250px;
    text-align: center;
    cursor: pointer;
}

#side-right{
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    top: 0;
    right:0;
    width:25px;
    z-index: 1;
    line-height: 250px;
    text-align: center;
    cursor: pointer;
}
